@model List<OrderVM>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Order List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
           
           
            <div class="col-6 text-end">
                <div class="row">
                    <div class="col-6">
                        <form method="get" asp-action="Index">
                            <div class="input-group">
                                <input type="text" name="searchStatus" class="form-control" placeholder="Search by Status" />
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
           
        </div>

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Order Total</th>
                    <th>Edit</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.orderHeader.Id</td>
                        <td>@order.orderHeader.Name</td>
                        <td>@order.orderHeader.PhoneNumber</td>
                        <td>@order.orderHeader.ApplicationUser.Email</td>
                        <td>@order.orderHeader.OrderStatus</td>
                        <td>@order.orderHeader.OrderTotal</td>
                      
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Order" asp-action="Details" asp-route-Id="@order.orderHeader.Id" class="btn btn-outline-info mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                            </div>
                        </td>
                     
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

